/*-------------------------------------------------*/
/*    ARTICLE                                     */
/*-------------------------------------------------*/
.div_only_photo {
  width: 100%;
  height: 220px;
}
.div_only_photo .only_photo {
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
}

/*-------------------------------------------------*/
/*    SECTION                                   */
/*-------------------------------------------------*/
section {
  width: 100%;
  position: relative;
  top: -20px;
  background-color: #f2f2f2;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
section .titre_logo_coeur {
  width: 90%;
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

article .entree {
  height: 40px;
  width: 96%;
  margin: auto;
  display: flex;
  align-items: center;
  text-decoration: underline;
  text-underline-offset: 6px;
  -webkit-text-decoration-color: #99E2D0;
          text-decoration-color: #99E2D0;
}
article .contain_menu {
  width: 94%;
  height: 60px;
  background-color: red;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  margin: auto;
  cursor: pointer;
  -webkit-animation: flash 3s linear;
          animation: flash 3s linear;
}
article .contain_menu:hover {
  display: flex;
  align-items: center;
}
article .contain_menu:hover .little_contain_menu {
  -webkit-animation: animation_flex_85 3s ease-in-out alternate 1 forwards, animation_flex_85_out 3s ease-in-out 1 forwards;
          animation: animation_flex_85 3s ease-in-out alternate 1 forwards, animation_flex_85_out 3s ease-in-out 1 forwards;
}
article .contain_menu:hover .fa-circle-check {
  width: 15%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  -webkit-animation: animation_cercle_checke 3s ease-in-out 1 forwards, animation_cercle_checke_out 3s ease-in-out 1 forwards;
          animation: animation_cercle_checke 3s ease-in-out 1 forwards, animation_cercle_checke_out 3s ease-in-out 1 forwards;
}
article .contain_menu:hover .fa-circle-check:before {
  content: "\f058";
  margin: auto;
}
article .contain_menu .little_contain_menu {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
article .contain_menu:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
article .contain_menu:nth-child(2) {
  margin-bottom: 2%;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
article .contain_menu:nth-child(3) {
  margin-bottom: 2%;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
article .contain_menu:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
article .contain_menu:nth-child(5) {
  margin-bottom: 2%;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
article .contain_menu:nth-child(6) {
  margin-bottom: 2%;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
article .contain_menu:nth-child(7) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
article .contain_menu:nth-child(8) {
  margin-bottom: 2%;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
article .contain_menu:nth-child(9) {
  margin-bottom: 2%;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
article h3 {
  width: 96%;
  margin: auto;
  font-size: 16px;
}
article .description_prix { /* mettre les deux p dans un meme p avec du span */
  width: 96%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 12px;
}
article .fa-circle-check {
  width: 15%;
  font-size: 20px;
  display: none;
  align-items: center;
  position: relative;
  color: #ffffff;
  background-color: #99E2D0;
}

.button_violet {
  height: 110px;
  display: flex;
  align-items: center;
}
.button_violet button {
  width: 50%;
  height: 50px;
  border: none;
  color: #ffffff;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  margin: auto;
}/*# sourceMappingURL=articleS.css.map */