@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    .all_the_page{
        width: 100%;
        margin: auto;
    }
}
h1{
    font-family: 'Shrikhand', sans-serif;
}
/*-------------------------------------------------*/
/*    le Head                                      */
/*-------------------------------------------------*/
header{
    width: 94%;
    height:70px ;
    display:flex;
    align-items: center;
    font-size: 22px;
    margin:auto ;
    h1{
        width: 70%;
        height:70px ;
        text-align: center;
    }
    i{
            width: 15%;
        }
}
/*-------------------------------------------------*/
/*    ARTICLE                                     */
/*-------------------------------------------------*/
.div_only_photo{
    width: 100%;
    height: 220px;
    .only_photo{
        width: 100%;
        height: 250px;
        background-position: center;
        background-size: cover;
    }
}
/*-------------------------------------------------*/
/*    SECTION                                   */
/*-------------------------------------------------*/
section{
    width:100% ;
    position:relative;
    top:-20px;
    background-color: #f2f2f2;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    .titre_logo_coeur{
        width: 90%;
        height: 82px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
}
article{ 
    .entree{
        height: 40px;
        width:96% ;
        margin: auto;
        display: flex;
        align-items: center;
        text-decoration: underline;
        text-underline-offset: 6px;
        text-decoration-color: #99E2D0;  
    }
    .contain_menu{
        width: 94%;
        height: 60px;
        background-color: red;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        margin: auto;
        cursor: pointer;
        animation: flash 3s linear;
        &:hover {
            display: flex;
            align-items: center; 
        }
        &:hover .little_contain_menu{
            animation:animation_flex_85 5s ease-in-out alternate ;
        }
        &:hover  .fa-circle-check{
            width:15%;
            height:100%;
            display: flex;
            text-align: center;
            align-items: center; 
            animation:  animation_cercle_checke 5s ease-in-out ;/* RECHECHED CORRECTEMENT LA FONCTION */
        }
        &:hover .fa-circle-check:before {
            content: "\f058";
            margin: auto;
        }
        @keyframes animation_cercle_checke{
            0% {
                
                        transform: translateX(100%);
            }
              100% {
              
                        transform: translateX(0PX);
              }
            }
        @keyframes animation_flex_85{
            0% {
              
                        transform: scaleX(1.15);
               
                        transform-origin: 0% ;
              }
              100% {
                
                        transform: scaleX(1);
            
                        transform-origin: 0% ;
              }
            }
        .little_contain_menu{
             width: 100%;
             height: 60px;
           
             display: flex;
             flex-direction: column;
             align-items: center;
             
             margin: auto;
            
       
       }
    }
    .contain_menu:nth-child(1){
        animation-delay: 100ms;
    }
    .contain_menu:nth-child(2){
        margin-bottom: 2%;
        animation-delay: 200ms;
    }
    .contain_menu:nth-child(3){
        margin-bottom: 2%;
        animation-delay: 300ms;
    }
    .contain_menu:nth-child(4){
        animation-delay: 400ms;
    }
    .contain_menu:nth-child(5){
       margin-bottom:2%;
        animation-delay: 500ms;
    }
    .contain_menu:nth-child(6){
       margin-bottom: 2%;
        animation-delay: 600ms;
    }
    .contain_menu:nth-child(7){
        animation-delay: 700ms;
    }
    .contain_menu:nth-child(8){
       margin-bottom:2%;
        animation-delay: 800ms;
    }
    .contain_menu:nth-child(9){
       margin-bottom: 2%;
        animation-delay: 900ms;
    }
       @keyframes flash {
        from{
            transform:translateY(-10px);
            opacity:0;
        }
        to{
            transform:translateY(0px);
            opacity:1;
        }
       }
        h3{
            width: 96%;
            margin: auto;
            font-size:16px;
        }
        .description_prix{ /* mettre les deux p dans un meme p avec du span */
            width: 96%;
            height: 30px;
            display: flex;
            justify-content: space-between;
            margin: auto;
            font-size: 12px; 
        }
        .fa-circle-check{
            width: 15%;
            font-size: 20px;
            display:none;
            align-items:center ;
            position:  relative;
            color: #ffffff;
            background-color: #99E2D0;
           
        }
}
.button_violet{
    height: 110px;
    display: flex;
    align-items: center;
    button {
        width: 50%;
        height: 50px;
        border: none;
        color: #ffffff;
        background-image: linear-gradient(#FF79DA,#9356DC)  ; 
        border-radius: 30px;
        margin: auto;
    }
}
/*-------------------------------------------------*/
/*   FOOTER                                   */
/*-------------------------------------------------*/
footer{
    width: 100%;
    height: 250px;
    background-color: #3a3a3a;
    color: #ffffff;
    position: absolute;
    top:1350px;
    .text_contener{
        width: 90%;
        margin: auto;
    }
    .text_contener h1{
        height: 50px;
        display: flex;
        align-items: center;
    }
    .text_contener p:nth-child(1){
        height: 30px;
    }
    .text_contener p:nth-child(2){
        height: 30px;
    }
    .text_contener p:nth-child(3){
        height: 30px;
    }
    .text_contener p:nth-child(4){
        height: 30px;
    }
}








